#config-manager {
  position: relative;
  display: none;

  font-family: "VT323", sans-serif;
  color: #D3D0C8;

  > div {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 525px;
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;

    grid-gap: 10px;
    grid-template-columns: [start] 1fr [mid] 1fr [end];
    grid-template-rows: [content-start] auto [footer] 50px [footer-end];
  }

  section {
    box-sizing: border-box;
    padding: 10px;
    grid-row-start: content-start;
    grid-row-end: footer;

    &.cfg-left {
      grid-column-start: start;
      grid-column-end: mid;
    }

    &.cfg-right {
      grid-column-start: mid;
      grid-column-end: end;
    }
  }

  footer {
    grid-column-start: start;
    grid-column-end: end;
    grid-row-start: footer;
    grid-row-end: footer-end;
    display: flex;
    box-sizing: border-box;
    padding: 5px;
    flex-direction: row-reverse;
    background-color: rgba(0, 0, 0, 0.2);
  }

  label {
    font-size: 1.3em;
    color: var(--body-fg-color);
  }

  select {
    color: var(--body-fg-color);
    font-size: 1.3em;
    font-family: "VT323", sans-serif;
    border: none;
    -moz-appearance: none;
    background: var(--body-bg-color) url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='5' viewBox='7 10 10 5' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' fill='white' opacity='.54' d='M7 10l5 5 5-5z'/%3E%3C/svg%3E") no-repeat;
    background-position: right;
    padding: 3px 20px 3px 5px;
    background-position-y: 50%;
    background-position-x: 87%;
    min-width: 83px;
  }

  button {
    font-family: "VT323", sans-serif;
    color: var(--body-bg-color);
    background-color: #F47678;
    border: none;
    box-sizing: border-box;
    width: 66px;
    font-size: 1.2em;
  }
}
