@import "_configManager";

// Color scheme - base16 eighties
$dark: #2D2D2D;
$light: #D3D0C8;
$gray: #707369;
$magenta: #CD98CD;
$red: #F47678;
$yellow: #E2B552;
$green: #98CD97;
$lightblue: #61CCCD;
$blue: #6498CE;
$brown: #D47B4E;

// Variables
$total-categories: 7;
$datetime-container-width: 25%;
$datetime-container-height: 10%;
$datetime-container-top: 10px;
$datetime-container-right: $datetime-container-top;

@media (prefers-color-scheme: light) {
  :root{
    --body-bg-color: #fff3cb;
    --body-fg-color: #010101;
    --search-img-src: url('/assets/img/fish_petshop_routine.gif');
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg-color: #2d2d2d;
    --body-fg-color: #d3d0c8;
    --search-img-src: url('/assets/img/city_night_dark.gif');
  }
}

*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "VT323";
  src: url('../fonts/VT323-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KFhimaji";
  src: url('../fonts/KFhimaji.otf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--body-bg-color);
  color: var(--body-fg-color)t;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  height: 100vh;
  display: flex;
}

#container {
  width: 80%;
  height: 525px;
  margin: 0px auto;
  overflow: hidden;

  #left {
    width: 80%;
    height: inherit;
    float: left;

    & > div {
      height: 0;
      position: relative;
      transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;

      a:link, a:visited {
        text-decoration: none;
        color: $light;
        margin: 30px 20px;
        padding: 15px 30px;
        transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
      }

      a:hover {
        background: $dark;
      }
    }

    .active {
      height: inherit;
    }

    #search-content {
      background: var(--search-img-src);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      .datetime-container {
        position: absolute;
        width: $datetime-container-width;
        min-width: 236px;
        height: $datetime-container-height;
        background: rgba(0, 0, 0, 0.5);
        top: $datetime-container-top;
        right: $datetime-container-right;
        padding: 15px 20px 20px 20px;
        display: flex;
        justify-content: space-between;
        color: $light;

        .datetime-day {
          width: 30%;
          height: 100%;
          font-family: "KFhimaji", sans-serif;
          font-size: 25px;
          font-weight: 500;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .datetime-time {
          width: 70%;
          height: 100%;
          font-family: "VT323", sans-serif;
          font-size: 25px;
          font-weight: 500;
          padding-top: 2px;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 3px;
        }
      }

      input {
        width: 100%;
        height: 50px;
        background: rgba(0, 0, 0, 0.5);
        color: $light;
        font-size: 14px;
        border: none;
        padding: 5px 20px;
        position: absolute;
        bottom: 0;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        -moz-transition: opacity .2s ease-in-out;
        -webkit-transition: opacity .2s ease-in-out;

        &:focus {
          opacity: 1;
        }
      }

      &:hover input {
        opacity: 1;
      }

      .bang-matches {
        width: 100%;
        padding: 20px;
        background: rgba(0, 0, 0, 0.5);
        color: $light;
        position: absolute;
        bottom: 60px;
        max-height: 300px;
        overflow-y: auto;

        ul li {
          display: flex;
          justify-content: space-between;
          margin: 5px auto;
          cursor: pointer;
        }
      }
    }

    #red-content {
      background: $red;
    }

    #blue-content {
      background: $blue;
    }

    #magenta-content {
      background: $magenta;
    }

    #cyan-content {
      background: $lightblue;
    }

    #yellow-content {
      background: $yellow;
    }

    #green-content {
      background: $green;
    }

    .content-container {
      padding: 20px;

      p {
        line-height: 50px;
      }
    }

    #red-content, #blue-content, #magenta-content, #yellow-content, #green-content, #cyan-content {
      a:link, a:visited {
        text-decoration: none;
        color: $dark;
        margin: 30px 20px;
        padding: 15px 30px;
        transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
      }

      a:hover {
        background: $dark;
        color: $light;
      }
    }
  }

  #right {
    width: 20%;
    height: inherit;
    display: inline-block;
    font-family: "KFhimaji";
    text-align: center;
    color: var(--body-fg-color);

    & > div {
      width: 100%;
      height: 75px;
      transition: all .1s ease-in-out;
      -moz-transition: all .1s ease-in-out;
      -webkit-transition: all .1s ease-in-out;
      line-height: 75px;

      &#search:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &#red:hover {
        background: $red;
      }

      &#blue:hover {
        background: $blue;
      }

      &#magenta:hover {
        background: $magenta;
        color: $dark;
      }

      &#cyan:hover {
        background: $lightblue;
        color: $dark;
      }

      &#yellow:hover {
        background: $yellow;
        color: $dark;
      }

      &#green:hover {
        background: $green;
        color: $dark;
      }

      .selection-container {
        background: none;
        height: 80%;
        cursor: pointer;
      }
    }

    #search.active {
      background: rgba(0, 0, 0, 0.2);
    }

    #red.active {
      background: $red;
    }

    #blue.active {
      background: $blue;
    }

    #magenta.active {
      background: $magenta;
      color: $dark;
    }

    #yellow.active {
      background: $yellow;
      color: $dark;
    }

    #green.active {
      background: $green;
      color: $dark;
    }
  }
}

#credits {
  font-size: 12px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;

  a:link, a:visited, a:hover, a:active, a:focus {
    color: var(--body-fg-color);
    margin: 0;
    padding: 0;
    background: none;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    transition: .2s all ease-in-out;
  }

  a:hover, a:active, a:focus {
    border-bottom: 2px solid $light;
  }
}

@media screen and (max-width: 767px) {
  body {
    display: inline;
    overflow: visible;
  }

  #container {
    margin: 45px auto;
    height: auto;
    overflow: visible;

    #left {
      width: 100%;
      float: none;
      height: auto;

      & > div {
        height: 0;

        & > .content-container {
          display: none;
        }
      }

      .active {
        height: auto;

        & > .content-container {
          display: block;
        }
      }

      #search-content {
        height: 200px;
        input {
          margin: 50px auto;
          position: relative;
        }

        .datetime-container {
          width: 80%;
          min-width: auto;
          left: 10%;

          .datetime-day {
            &, span {
              font-size: 24px;
            }
          }

          .datetime-time {
            &, span {
              font-size: 18px;
            }
          }
        }

        .bang-matches {
          margin: 10px auto;
          position: relative;
          max-height: 100px;
        }
      }
    }

    #right {
      position: absolute;
      top: 15px;
      height: 30px;
      left: 10%;
      width: 80%;
      display: inline;
      overflow-x: scroll;

      & > div {
        width: 16.6667%;
        height: 30px;
        line-height: 30px;
        float: left;
      }
    }
  }

  #credits { display: none; }
}

@media(min-height: 450px) {
  body {
    align-items: center;
  }
}
